@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html,
body {
    width: 100%;
    font-size: 62.5%;
    font-size: 10px;
}
/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 99;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
   
}

.nav div.logo a {
    text-decoration: none;
    font-family: 'Pattaya', sans-serif;
    color:black;
    font-size: 2.5rem;
    margin-left: 2rem;
    font-weight: bolder;
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
}

.nav div.logo a:hover {
    color: gray;
}

.nav div.main_list {
    height: 65px;
    float: right;
    margin: 0;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    line-height: 65px;
    font-size: 2.5rem;
    /* text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white; */
}

.nav div.main_list ul li a:hover {
    color:grey;
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
   background-image: url("images/carpet-new3.jpg");
    background-position: center top;
	background-repeat: no-repeat;
    background-size: cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 15px;
    top: 5px;
    bottom: 0;
}

.navTrigger i {
    background-color: black;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
   background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}






.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

/* about section */
.about{
    background-color: #eeeeee;
   height: auto;
   
}
.about h1{
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}
.about-container{
    width: 100%;
    height: auto;
}
.about-content{
    width: 50%;;
    color: #05665c ;
    margin: 0 100px;
    padding: 2rem 4rem 3rem 6em;
    text-align: center;
}
.about-container p{
    font-size: 3rem;
    font-weight: bolder;
    line-height: 5rem;


}
.about-buttton{
    text-align: center;
}
.about-img{
padding: 3rem ;

}
.about-img img{
  max-height: 40rem ;
    border-radius: 10px;
   border-color: #26a69a;
   border-width: 10px;
   
}
.about-img figure img {
	opacity: 0.8;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}



.btn{
    height:50px;
    width: 150px;
    margin: 2rem 4rem;
    text-align: center;
}
    .btn-grad {background-image: linear-gradient(to right, #1c8a96 0%, #2b7a67  51%, #417b81  100%)}
    .btn-grad {
        height: 50px;
       margin: 10px;
       margin-right: 0;
       padding: 15px 45px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #eee;
       border-radius: 10px;
       display: block;
      
     }
    
     .btn-grad:hover {
       background-position: right center; /* change the direction of the change here */
       color: #fff;
       text-decoration: none;
     }
    
    

.about-content button{
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    text-align: center  ;    ;
}

/* about-section end */

/* service section start */
.service{
    width: 100%;
    height: auto;
    background-color: #E4E4E1;
    background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
        background-blend-mode: normal, multiply;

}
.service-head h1{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    color: #111;
}
.service-content{
    display: flex;
    align-items: center;
    padding: 2.5rem;

    border-bottom: 1px dotted #eceff1;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.service-content p{
    text-align: center;
    font-size: 2.5rem;
    color:#37474f; 
    padding-left: 2rem;
    line-height: normal;
    font-weight: 550;
    text-align: center;
}
.fas .fa-cog{
 color: grey;
}

/* card section  */
/* .card-section{
    width: 100%;
    background-color: #eeeeee;
    height: auto;
}
.card-head h1{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    color: #111;
    padding: 1rem;
}
.card-container .row{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.card{
   margin: 2rem;
   z-index: 1;
   
} */
.card-section{
    background-color: #eeeeee;
}
.card-heading h1{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    color: #111;
    padding: 1rem;
}
.card_desing_cnt{
}
img {width: 100%;}
a { text-decoration: none; display: block;}
.crd_dsgn {
    width: 300px;
    border:1px dotted silver;
    border-radius: 5px;
    height: auto;
    margin: 2rem 0;
    transition: all 0.5s ease-in-out 0s;
}
.crd_dsgn  a { 
    display: block;
    text-decoration: none;
 }
.crd_img {
    text-align: center;
    width: 100%;
    height: 200px;
    overflow: hidden;
    transition: all 0.5s ease-in-out 0s;
}
.crd_img img {
    width: 300px;
    margin-top: 10px;
    height: 100%;
    transform: scale(1.0);
    transition: all 0.9s ease-in-out 0s;
    text-align: center;
}
.crd_hdng h5 {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    font-size: 18px;
    font-weight:800;
    color: #111;
    letter-spacing: 2px;
    margin-top: 10px;
    transition: all 0.5s ease-in-out 0s;
    text-align: center;
    text-decoration: none;
}
.crd_dsgn:hover .crd_img { margin: 0;}
.crd_dsgn:hover .crd_hdng h5 { margin-top: 5px; }
.crd_dsgn:hover { background-color: #c2986b; border-width: 3px; border-radius: 0; border:#c2986b ;}
.crd_dsgn:hover .crd_img img { transform: scale(1.5); }



/* card section end */
/* contact section start */
.contact-section{
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
    background-blend-mode: normal,color-burn;
    
}
.contact-head h1{
    font-size: 4rem;
    text-align: center;
    color: #111;
    padding: 1rem;
}
.contact h2{
    font-size: 3rem;
    color: #111;
    padding: 1rem;
}
.all-container{
  width: 100%;
  margin: 0;
}
.contact-container{
    width: 100%;
}

  .map {
    position: relative;
    max-height:400px;
    margin-right: 0;
    text-align: end;
  }
  .map iframe {
    width: 100%;
    min-height: 300px;
    border: none;
      left:0;
  }
  .black { 
    width: 100%;
      left: 0;
  }
  .contact-top h2{
      padding-left: 2rem;
  }
  .contact-top p,.contact-top a {
     font-size: 1em;
    color: #888;
    font-weight: 400;
    margin: 1em 0;
    padding-left: 2rem;
  }
  .contact-top h4{
    font-size: 2.5rem;
    color: #555;
    font-weight: 600;
    margin: 0.5em 5rem 0 0;
    padding-left: 2rem;
  }
  .contact-ad p{
    font-size: 2rem;
    color: #555;
    font-weight: 600;
    margin: 0.5em 5rem 0 0;
    padding-left: 2rem;
  }
  .contact-ad a{
    font-size: 2rem;
    color: #555;
    font-weight: 600;
    margin: 0.5em 5rem 0 0;
  }
  .map-l{
    text-align: center;
  }
  .point i {
  color: #FF8DAE;
      font-size: 4em;
  }
  .map-l i {
    color: #fff;
    font-size: 4em;
  }
  .icon{
      display: flex;
     align-items: center;
  }
  .icon .fab{
      padding: 1rem 0 1rem 3rem;
  }
  .icon .fa-instagram-square{
    color: #dc2743; 
  }
  .icon .fa-facebook{
      color:#4267B2;
  }
  .icon .fa-whatsapp-square{
      color:#25D366;
  }
  .icon .fa-instagram-square:hover{
      cursor: pointer;
      color: #FD1D1D;;
      transition: 0.5s;
  }
  .icon .fa-facebook:hover{
    cursor: pointer;  
    color: blue;;
    transition: 0.5s;
}
.icon .fa-whatsapp-square:hover{
    cursor: pointer;
    color: rgb(0, 207, 0);
    transition: 0.5s;
}

  /* contact section end */

  
  /* footer section */
  .copy {
    text-align: center;
    background: #ff8dae;
    padding: 1em 1em;
  }
.copy p {
  color: #fff;
  font-size: 1.5rem;
}
.copy p a {
   color:#fff;
}
.copy p a:hover{
  text-decoration:underline;
}
.icon-me{
    display: flex;
   align-items: center;
   justify-content: center;
}
.icon-me .fab{
    padding: 0 0 1rem 3rem;
}
.icon-me .fa-instagram-square{
  color: #dc2743; 
}
.icon-me .fa-facebook{
    color:#4267B2;
}
.icon-me .fa-whatsapp-square{
    color:#25D366;
}
.icon-me .fa-instagram-square:hover{
    cursor: pointer;
    color: #FD1D1D;;
    transition: 0.5s;
}
.icon-me .fa-facebook:hover{
  cursor: pointer;  
  color: blue;;
  transition: 0.5s;
}
.icon-me .fa-whatsapp-square:hover{
  cursor: pointer;
  color: rgb(0, 207, 0);
  transition: 0.5s;
}

  /* footer section end */
/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
        margin-left: 0;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #e8eaf6;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
    .about-content{
        width: 50%;
      display: flex;
        color: #263238;
        margin: 4rem 100px;
        padding: 2rem 0 0 0;
    }
    .about-container p{
        font-size: 2.5rem;
        line-height: 3rem;
        max-height: 500px;
        margin: 0;
    }
    .about-img img{
        height: 400px;
        margin: 1rem;
    }
    .about-content .btn{
        margin-top: 2.5rem;
        text-align: center;
        padding-left: 3rem;
    }

}
@media  screen and (max-width:480px) {
    .about-container{
        display: flex;
        flex-direction: column;
        width:100%;
        height: auto;
    }
    .about-content{
        width: 50%;
      display: flex;
      color: #05665c ;
        margin: 0 100px;
        padding: 2rem 0 0 0;
    }
    .about-container p{
        font-size: 2rem;
        line-height: 2.5rem;
        max-height: 500px;
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .about-img img{
        width: 100%;
    }
    .about-content .btn{
        width: 50%;
        text-align: center;
    }
}